@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis';
}
:root{
    --light-white:#dff0ffb7;
    --deepblue: linear-gradient(to right, #3a7bd5, #085379);
    --deeplightblue:#085379;
    --dark:#191d24;
    /* lvl1 */ 
    /*
        --deepblue: linear-gradient(to right, #3a7bd5, #085379);
        --deeplightblue:#085379;
    */
    /* lvl2 */
    /* -
    --deepblue: linear-gradient(to right, #7474bf, #348ac7);
    --deeplightblue:#7474bf;

     */
    /* lvl3 */

    /* 
    --deepblue:  linear-gradient(to right, #8e0e00, #1f1c18); 
    --deeplightblue:#2a2424;
    
    */
}
body{
    background: rgb(37, 43, 50);
    color: var(--light-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.screen{
    position: relative;
    width: 22rem;
    height: 5rem;
    background: var(--deepblue);
    outline: 2px dashed var(--light-white);
    outline-offset: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.screen div{
    width: 3.5rem;
    height: 2rem;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen span{font-size: 1.5rem;}
.screen div::after{
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 1rem;
    padding: 9px 2px;
    font-size: 1.1rem;
    border-radius: 10px;
    background: var(--deeplightblue);
}
.screen #user::after{content: "User"; left: -2.5rem;box-shadow: 10px 3px 10px #02020225 ;}
.screen #comp::after{content: "Comp";right: -2.5rem;box-shadow: -10px 3px 10px #02020225;}


#comment{
    width: 18rem;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column-reverse;
    
}
#comment ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: .9rem;
}
#comment ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#comment ul li span{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#comment #status{
    font-size: 1.7rem;
    margin: 30px;
    text-align: center;
}

/* #comment div{
    font-size: 1.8rem;
} */

.loading{
    width: 3.8rem;
    height: 1rem;
    visibility: hidden;
}
.loading span{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: transparent;
    transform: translate(calc(var(--i)*.5rem));
    animation: loading 0.7s ease calc(var(--i)*.1s) infinite alternate-reverse; 
}
@keyframes loading {
    0%{}
    100%{background: var(--light-white);transform: scale(1.1)translate(calc(var(--i)*.8rem));}
}

.deck{
    width: 22rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}
.deck span{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--light-white);
    cursor: pointer;
}
.deck span:hover{
    background: var(--dark);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--dark);
    padding: 5px;
    text-align: center;
    letter-spacing: 1px;
}
.social_media{
    width: 70px;
    height: 70px;
    background: var(--dark);
    clip-path: circle(90% at 100% 0%);
    position: fixed;
    top: 0;
    right: 0;
}
.social_media img{
    width: 2.5rem;
    margin: 5px 0px 0px 25px;
    cursor: pointer;
}

.level{
    position: relative;
    width: 22rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.level ul li{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 10px;
    width: 5rem;
    background: var(--deeplightblue);
}
.level ul li span{
    font-size: 1.5rem;
}
.level ul li:nth-child(2){
    background: none;
    font-size: 1.3rem;
    font-weight: bold;
}
.alertScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000cb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    opacity: 0;
    z-index: -999;
    transition: .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(-20rem);
}
.show{
    opacity: 1 !important;
    z-index: 999 !important;
    transform: translateY(0) !important;
}
/*
center
     left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

*/
.alertScreen ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alertScreen ul li#alertComment{
    margin-top: 10px;
    font-size: 1rem;
}
.creator_space{
    font-size: 1.2rem;
    width: 70%;
}
.creator_space p{
    margin-block:20px ;
}
.hint_icon{
    position:fixed;
    width: 2.4rem;
    height: 2.4rem;
    top: .8rem;
    left: .8rem;
    cursor: pointer;
}
.hint{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000cb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    opacity: 0;
    z-index: -999;
    transition: .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(-20rem);
}
.hint ul{
    height: 10rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
}
.hint ul li:first-child{
 font-size: 1.4rem;
 font-weight: bold;
 text-align: center;
}
















@media (max-width:445px) {
    body{
       height: 100vh;
       width: 100%; 
       /* row-gap: 2rem; */
    }
    .screen{
        width: 90%;
        height: 5rem;
    }
    .screen div{
        width: 2rem;
        height: 2rem;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .screen span{font-size: 1rem;}
    .screen div::after{
        width: 4rem;
        height: 1rem;
        padding: 3px 2px;
        font-size:.9rem;
    }
    .screen #user::after{content: "User"; left: -1rem;}
    .screen #comp::after{content: "Comp";right: -1rem;}

    #comment{
        width: 100%;
    }

    #comment ul li span{
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #comment #status{
        font-size: 1.4rem;
        margin: 30px;
        text-align: center;
    }

    .loading{
        display: flex;
        align-items: center;
        width: 3.5rem;
    }
    .loading span{
        width: 4px;
        height: 4px;
    }

    .deck{
        width: 100%;   
    }
    .deck span{
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid var(--light-white);
        cursor: pointer;
    }
    .deck span:hover{
        background: none;
    }
    .social_media{
        width: 50px;
        height: 50px;
        background: var(--dark);
        clip-path: circle(90% at 100% 0%);
        position: fixed;
        top: 0;
        right: 0;
    }
    .social_media img{
        width: 1.6rem;
        margin: 5px 0px 0px 18px;
    }



    .level{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .level ul li{
        font-size: .9rem;
        padding: 3px;
        border-radius: 5px;
        width: 3.5rem;
    }
    .level ul li span{
        font-size: 1rem;
    }
    .level ul li:nth-child(2){
        font-size: 1rem;
    }
    
    .hint_icon{
        width: 2rem;
        height: 2rem;
        top: .5rem;
        left: .5rem;
    }

    .hint ul{
        height: 10rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: .9rem;
    }
    .hint ul li:first-child{
     font-size: 1rem;
     font-weight: bold;
     text-align: center;
    }
    .creator_space{
        font-size: .9rem;
        width: 70%;
    }
  

}
@media (max-width:280px) {
    h1{font-size: 1.5rem;}
}